footer.footerSection
  .leftContainer
    .haContainer
      img(src="/img/logo.svg" height="50" width="50")
      span.logoTitle Handshake Alliance
    .urkelContainer
      span.poweredBy Powered By
      span.urkel URKEL
  .spacer
  .centerContainer
    span.linksTitle Links
    a(class="link" href="https://github.com/HandshakeAlliance" target="_blank") GitHub
    a(class="link" href="https://twitter.com/HNSalliance" target="_blank") Twitter
    a(class="link" href="https://medium.com/@handshakealliance" target="_blank") Medium
    a(class="link" href="https://handshake.org" target="_blank") Handshake
  .spacer
  .rightContainer
    span.linksTitle Related
    a(class="link" href="https://handshakealliance.org" target="_blank") Handshake Alliance
    a(class="link" href="#") Wallet Generator
    a(class="link" href="https://HNScan.com") HNScan
    a(class="link" href="https://handshake.org/files/handshake.txt" target="_blank") White Paper
